body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 971px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* hero */
.hero {
    background-image: url(img/konstruct.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 42px 0 71px;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    color: #FFF;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.709px;
}

.award {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.scroll {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.7px;
}

/* hero */

/* header */
.header {
    padding: 24px 0;
}

.header__nav a:hover {
    color: #00A4E5;
}

.header__blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__aside{
    display: none;
}

.header__burger:active+.header__aside{
    display: block;
}

.header__burger {
    position: relative;
    width: 20px;
    height: 2px;
    background: #141A20;
    border-radius: 10px;
    display: none;
}

.header__burger::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #141A20;
    top: -4px;
    border-radius: 10px;
}

.header__burger::after {
    content: "";
    width: 20px;
    height: 2px;
    background: #141A20;
    border-radius: 10px;
    position: absolute;
    bottom: -4px;
}

.header__burger:active.header__burger::before {
    transform: rotate(60deg);
    top: 0;
}

.header__burger:active.header__burger::after {
    transform: rotate(120deg);
    top: 0;
}

.header__burger:active {
    background: #FFF;
}

.header__link {
    margin-left: 42px;
    text-transform: uppercase;
    color: #48555B;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.091px;
}

hr {
    color: #E6E6E6;
}

/* header */

/* story */
.story {
    padding: 58px 0 68px;
}

.story__motto {
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.story__title {
    color: #48555B;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
    margin-bottom: 10px;
    position: relative;
}

.story__span {
    color: #16ACE8;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.17px;
}

.story__title:hover::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    transition: 1s;
}

.story__wrapper {
    display: flex;
    justify-content: space-between;
}

.story__left {
    width: 50%;
}

.story__desc-bolt {
    color: #48555B;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
    margin-bottom: 30px;
    max-width: 405.076px;
}

.story__desc-light {
    color: #48555B;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
    max-width: 405.076px;
}

.story__right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.story__box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 225px;
    width: 30.4%;
    padding: 20px 20px 0 20px;
}

.story__box-plan {
    background-image: url(img/we\ plan.png);
}

.story__box-manage {
    background-image: url(img/we\ manage.png);
}

.story__box-build {
    background-image: url(img/we\ build.png);
}

.story__subtitle {
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
}

/* story */

/* services */
.services {
    padding: 50px 0;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
}

.services__title {
    color: #48555B;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
    position: relative;
}

.services__title:hover::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 1s;
}

.services__link {
    color: #48555B;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
}

.services__button {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
}

.services__button:hover {
    background-color: #FFF;
    color: #00A4E5;
    border: 1.5px solid #00A4E5;
}

.services__box {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 115px;
}

.services__box div:hover {
    transform: scale(0.8);
}

.services__project {
    border: 1px solid #E6E6E6;
    padding: 38px 22px;
    width: 31.3%;
}

.services__subtitle {
    color: #48555B;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.427px;
    margin: 25px 0 13px;
}

.services__text {
    color: #48555B;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}

/* services */

/* touch */
.touch {
    background-image: url(img/touch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    padding: 120px;
}

.touch__title {
    color: #48555B;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.touch__btn {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 35px;
}

.touch__btn:hover {
    background-color: transparent;
    color: #00A4E5;
    border: 1.5px solid #00A4E5;
}

/* touch */

/* signup */
.signup {
    padding: 30px 0;
    background-color: #171819;
}

.signup__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 716px;
    margin: 0 auto;
    padding: 0 15px;
}

.signup__title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;
}

.signup__flex {
    display: flex;
}

.signup__input {
    display: block;
    width: 250px;
    height: 40px;
    color: #48555B;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.07px;
    padding: 10px 16px;
}

.signup__btn {
    display: block;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.signup__btn:hover {
    background-color: #FFF;
    color: #00A4E5;
    border: 1.5px solid #00A4E5;
}

/* signup */

/* footer */

.footer {
    background: #141A20;
    padding: 42px 0 50px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-column: 50px;
}

.footer__title {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846px;
    margin-bottom: 15px;
}

.footer__desc {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846px;
    margin-top: 15px;
    max-width: 250px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    max-width: 262px;
}

.footer__li {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.846px;
}

.footer__link {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.846px;
    max-width: 120px;
    margin-bottom: 13px;
}

.footer__li:hover {
    color: #00A4E5;
}

.footer__ul {
    padding-top: 29px;
}

.footer__socials {
    display: flex;
    justify-content: end;
}

.footer__socials-wrapper i:hover {
    transform: scale(1);
}

.footer__socials-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-top: 29px;
}

.footer__socials i {
    color: white;
}