@media (max-width:850px) {
    .story__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .story__desc-light {
        margin-bottom: 20px;
    }

    .story__left {
        width: 60%;
    }

    .story__right {
        width: 60%;
    }

    .services__box {
        flex-direction: column;
        align-items: center;
    }

    .services__project {
        width: 60%;
        margin-bottom: 20px;
    }

    .services__link {
        max-width: 300px;

    }

    .footer__container {
        max-width: 716px;
    }

    .footer__wrapper {
        grid-template-columns: 1fr 1fr;

    }

    .footer__socials {
        justify-content: flex-start;
    }




}

@media (max-width:750px) {
    .story__subtitle {
        font-size: 20px;
    }

    .services__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .services__link {
        max-width: 60%;
        margin: 20px 0 20px;
    }

    .title {
        font-size: 50px;
    }

    .award {
        font-size: 14px;
    }
}

@media (max-width:690px) {
    .signup__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .signup__title {
        margin-bottom: 50px;
    }

    .story__subtitle {
        font-size: 30px;
        text-align: center;
    }

    .story__desc-bold{
        font-size: 16px;
    }

    .story__right{
        flex-direction: column;
    }

    .story__box{
        width: 100%;
        margin-bottom:20px ;
    }
    .header__nav{
        display: none;
    }

    .header__burger{
        display: block;
    }

}

@media(max-width:590px){
    .header__nav{
        display: none;
    }

    .header__burger{
        display: block;
    }
    

}

